@model DashHomeVM

@{
    ViewData["Title"] = "Variete Page";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row gy-6">
        <!-- Congratulations card -->@* 
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body text-nowrap">
                    <h5 class="card-title mb-0 flex-wrap text-nowrap">Congratulations Norris! 🎉</h5>
                    <p class="mb-2">Best seller of the month</p>
                    <h4 class="text-primary mb-0">$42.8k</h4>
                    <p class="mb-2">78% of target 🚀</p>
                    <a href="javascript:;" class="btn btn-sm btn-primary">View Sales</a>
                </div> 
                <img src="~/assets/img/illustrations/trophy.png"
                     class="position-absolute bottom-0 end-0 me-5 mb-5"
                     width="83"
                     alt="view sales" />
            </div>
        </div> *@
        <!--/ Congratulations card -->
        <!-- Transactions -->@* 
        <div class="col-lg-8">
            <div class="card h-100">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Transactions</h5>
                        <div class="dropdown">
                            <button class="btn text-muted p-0"
                                    type="button"
                                    id="transactionID"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="ri-more-2-line ri-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            </div>
                        </div>
                    </div>
                    <p class="small mb-0"><span class="h6 mb-0">Total 48.5% Growth</span> 😎 this month</p>
                </div>
                <div class="card-body pt-lg-10">
                    <div class="row g-6">
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-primary rounded shadow-xs">
                                        <i class="ri-pie-chart-2-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Sales</p>
                                    <h5 class="mb-0">245k</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-success rounded shadow-xs">
                                        <i class="ri-group-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Customers</p>
                                    <h5 class="mb-0">12.5k</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-warning rounded shadow-xs">
                                        <i class="ri-macbook-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Product</p>
                                    <h5 class="mb-0">1.54k</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-info rounded shadow-xs">
                                        <i class="ri-money-dollar-circle-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Revenue</p>
                                    <h5 class="mb-0">$88k</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>*@
        </div> 
        <!--/ Transactions -->
         
        <!-- Data Tables -->
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Detail Producteur</h5>

                </div>
                <div class="table-responsive text-nowrap  ">
                    <table class="table text-nowrap" id="expDest">

                        <thead>
                            <tr>
                                <th>Variete</th>
                                <th>TVN</th>
                                <th>Versement</th>
                                <th>Cat I</th>
                                <th>Cat II</th>
                                <th>Total</th>
                                <th>Ecart</th>
                                <th>Friente</th>
                                <th>Stock Station</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">

                            @foreach (var item in Model.TvnrecapList)
                            {
                                <tr>

                                    <td>


                                        <div class="d-flex align-items-center">


                                            <div class="d-flex flex-column">
                                                <span class="fw-medium lh-1">
                                                    <a asp-action="Index" asp-controller="VarieteDash" asp-route-id="@($"{item.codvar:n0}")">@item.nomvar</a>
                                                </span>
                                                <small class="text-muted">@($"{item.codvar:n0}")</small>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium"> @($"{item.pdrec:n2}")</span>
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium"> @($"{item.pdver:n2}")</span>
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium">@($"{item.expcat1:n2}")</span>/T
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium">@($"{item.expcat2:n2}")</span>/T
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium">@($"{item.pdExp:n2}")</span>/T
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>
                                    <td>
                                        <span class="fw-medium lh-lg ">@($"{item.pdecart:n0}")</span>
                                        <small class="text-muted">27%</small>
                                    </td>
                                    <td>
                                        <div class="text-muted lh-1">
                                            <span class="text-primary fw-medium">@($"{item.Stock:n0}")</span>/T
                                        </div>
                                        <small class="text-muted">77%</small>
                                    </td>

                                    <td>
                                        <!--                                        <div class="dropdown">
                                                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                                                                    <div class="dropdown-menu">
                                                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View Details</a>
                                                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                                                                    </div>
                                                                                                                        </div>
                                        -->
                                        <span class="fw-medium lh-lg ">@($"{item.freinte:n0}")</span>
                                        <small class="text-muted">7%</small>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--/ Data Tables -->
  </div>
 
<!-- / Content -->
    <!--fin  Export Marche-->
 
